#cover{
    background-image: url('./assets/star_bg.jpg')
}

#cover .col-md-2{
    margin-top: 10px;
}

.star-button-contain{
    width: 700px;
    position: absolute;
    left: 50%;
    margin-left: -350px;
    bottom: 100px;
}

.star-text{
    width: 100px;
    text-align: center;
    padding: 2px 10px;
    font-size: 19px;
    background-color: #ff0074;
    color: #FFFFFF;
    margin-top: 10px;
}